:root{
  --primary : #08033D;
  --primary2 : #0F094F;
  --primary3 : #161337;
  --secondary : #37DA11;
  --white : #fff;
  --black : #000;
  --light : #F7F9FC;
  --grey : #747474;
  --grey2 : #484848;
}