@import "./assets/css/color-palette.css"; 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* COMMON MODAL STYLES */

.modal .toparea{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 18px;
}
.modal{
 opacity: 0;
 visibility: hidden;
 background-color: var(--white);
 border:1px solid #eaeaea;
 padding: 20px;
 border-radius: 10px;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 z-index: 99;
 transition: 0.3s ease-in-out;
}
.modal ~ .blocker{
 height: 100vh;
 width: 100%;
 opacity: 0;
 visibility: hidden;
 z-index: 9;
 background-color: rgba(0,0,0,0.8);
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 transition: 0.3s ease-in-out;
 bottom: 0; 
}
.modal-active ~ .blocker{
  opacity: 1;
  visibility: visible;
}
.modal-active{
  opacity: 1;
  visibility: visible;
}

.modal-active h2{
  color: var(--primary2);
  font-weight: bold;
  font-size: 22px;
}

.closepopupbtn{
  background-color: transparent;
  border: none;
}

.modal p{
  color: var(--primary2);
  opacity: 0.63;
  font-size: 16px;
}

/* COMMON MODAL STYLES */




/* STEPWIESE POPUP */

.modal .flexarea{
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.modal .flexarea .icon{
  height: 45px;
  width: 45px;
  margin-right: 15px;
  background-color: var(--white);
  display: flex;
  z-index: 99;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 1px solid #EAEAEA;
  border-radius: 50%;
}

.modal .flexarea .icon{
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='25' viewBox='0 0 21 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.17417 0.30426H16.1858V2.50658H20.5904V24.5298H0.769531V2.50658H5.17417V0.30426ZM5.17417 4.7089H2.97185V22.3275H18.3881V4.7089H16.1858V6.91123H5.17417V4.7089ZM13.9835 2.50658H7.3765V4.7089H13.9835V2.50658ZM7.3765 11.3159H13.9835V13.5182H7.3765V11.3159ZM7.3765 15.7205H13.9835V17.9228H7.3765V15.7205Z' fill='%230F094F'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: center;
  transition: 0.3s ease-in-out;
}

.modal .flexarea:hover .icon{
  background-color: var(--primary2);
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='25' viewBox='0 0 21 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.17417 0.30426H16.1858V2.50658H20.5904V24.5298H0.769531V2.50658H5.17417V0.30426ZM5.17417 4.7089H2.97185V22.3275H18.3881V4.7089H16.1858V6.91123H5.17417V4.7089ZM13.9835 2.50658H7.3765V4.7089H13.9835V2.50658ZM7.3765 11.3159H13.9835V13.5182H7.3765V11.3159ZM7.3765 15.7205H13.9835V17.9228H7.3765V15.7205Z' fill='%23fff'/%3E%3C/svg%3E%0A");

}

.modal .flexarea:last-child{
  margin: 0;
}

.modal .stepbody{
  position: relative;
  margin-top: 22px;
}

.modal .stepbody .stepline{
  position: absolute;
  top: 0;
  left: 22.5px;
  bottom: 0;
  z-index: -1 !important;
}

.modal .flexarea h4{
  font-size: 16px;
  font-weight: 500;
  color: var(--primary2);
}

.modal .flexarea p{
  color: #484848;
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
}

.stepwises .modal .toparea{
  padding-bottom: 0;
}

/* STEPWIESE POPUP */

/* VIDEOSCREEN POPUP */

.box-height{
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  border: none;
}

.video-screenpicture{
  position: relative;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.video-screenpicture .oncall{
  position: absolute;
  top: 20px;
  right: 20px;
}

.video-screenpicture .videoscreen-btns{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.video-screenpicture button img,
.right-panel .button-groups button:nth-child(1){
  margin: 0 !important;
}

.video-screenpicture .endcallbtn{
  background: #F8000F !important;
}

.video-screenpicture button{
  min-width: 40px;
  min-height: 40px;
  display: flex;
  padding: 0 !important;
  justify-content: center;
  align-items: center;
  border-radius: 50% !important;
  background-color: rgba(0,0,0,0.5) !important;
 
}

.video-screenpicture .videoscreen-btns div{
  margin-right: 10px;
}

.video-screenpicture .videoscreen-btns div:nth-child(3) button{
  min-height: 60px;
  min-width: 60px;
}

.video-screenpicture .videoscreen-btns div:nth-child(3) button img{
  width: 35px;
}

.video-screenpicture .sharescrrenbtn{
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 13px 22px !important;
  background-color: var(--primary) !important;
  width: auto !important;
  border-radius: 12px !important;
  font-size: 14px;
  color: var(--white) !important;
}

.button-groups .box-height{
  background: #1E1D2B;
}

/* VIDEOSCREEN POPUP */

/* PROFILE POPUP */

.profileform-body{
  overflow: auto;
  height: 100%;
}

/* .profile-form .form-group:last-child input{
    height: 150px !important;
} */

.profile-form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 24px;
}

.profile-form .css-ihdtdm{
  width: 0;
}

.modal .header{
  padding-top: 40px;
  border-top: 1px solid rgba(15, 9, 79, 0.12);
}

.modal .header span{
  color: var(--primary2);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.42px;
}

.profile-form label{
  color: var(--primary2);
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 8px;
  display: block;
}

.profile-form .MuiSelect-select{
  padding: 0;
  height: 45px;
  text-indent: 20px;
  border: none !important;
}

.profile-form input,
.profile-form .MuiSelect-select,
.profile-form .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root,
.profile-form textarea{
  height: 45px !important;
  width: 100%;
  display: flex;
  align-items: center;
  text-indent: 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: rgba(15, 9, 79, 0.35);
  font-size: 14px;
  letter-spacing: 0.42px;
}

.profile-form textarea{
  height: 150px !important;
  padding-top: 10px;
  resize: none;
}

.profile-form .css-4jnixx-MuiStack-root>.MuiTextField-root{
  min-width: 100%;
}

.profileform-submit{
  padding: 17px 120px;
  border-radius: 10px;
  background: #25CB88;
  color: var(--white);
  font-size: 18px;
  border: none;
  position: sticky;
  bottom: 0;
  margin: auto;
  display: inline-block;
  font-weight: 500;
}

.profile-form .MuiButtonBase-root{
  position: absolute;
  top: 0;
  left: 0;
  right: 10px;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
}

.profile-form svg{
  fill: var(--primary2);
}

.profile-form .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
  border-radius: 10px;
}

.profile-form .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline{
  border-color: transparent !important;
}

.profile-form .MuiStack-root{
  padding: 0;
  overflow: hidden;
}

.profile-form .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root input{
  border: none;
  outline:  none;
  padding: 0;
}

.profile-form .MuiBox-root{
  padding-right: 0 !important;
}

.profile-form .form-group{
  margin-bottom: 20px;
  padding-right: 10px;
}

/* PROFILE POPUP */

/* Task Popup Styles */

.left-tabs .blocker{
  transform: scale(7.5);
}

.left-tabs .box-height{
  left: 200%;
  width: 800px;
}

.profile-form .form-group:last-child input::placeholder{
  position: absolute;
  left: 4px;
  top: 10px;
}

/* Task Popup Styles */

/* HEADER POPUP */


header .modal{
  right: 30px;
  top: 105px;
  width: 460px;
  transform: translate(0, 0);
  left: auto;
  background-color: var(--primary2);
  border: none;
}

header .MuiPaper-root{
  background-color: transparent;
}

header .modal p{
  color: #FBFBFB;
  font-size: 14px;
}

header .MuiCollapse-root p{
  padding-bottom: 10px;
}

header .modal-active{
  top: 110%;
}

header .css-1elwnq4-MuiPaper-root-MuiAccordion-root:first-of-type{
  margin: 0;
}

header .MuiAccordion-root{
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

header .MuiAccordion-root,
header .MuiAccordionDetails-root {
  margin: 0;
  padding: 0;
}

/* header .MuiAccordionSummary-root{
  margin-top: 12px;
} */

header .MuiAccordionSummary-root,
header .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded{
  min-height: 40px;
  padding: 0;
  box-shadow: none;
}

header .css-1elwnq4-MuiPaper-root-MuiAccordion-root{
  box-shadow: none !important;
}

header .MuiAccordionSummary-root svg{
  fill: var(--white);
}

header .modal h4{
  color: var(--white);
  font-size: 17px;
  font-weight: bold;
}

header{
  position: relative;
}

header .modal label{
  color: var(--white);
  padding-top: 15px;
  font-size: 16px;
  font-weight: 600;
}

header .modal ~ .blocker{
  top: 100%;
  position: absolute;
}

header .modal .MuiAccordionSummary-content{
  margin: 0;
}

header input{
  position: absolute;
  left: -1000px;
  top: -1000px;
  opacity: 0;
  visibility: hidden;
}

header .modal li{
  list-style: none;
  margin-top: 15px;
}

header input:checked + .mylabel::after{
  content: "";
  position: absolute;
  top: 7px;
  transform: translateY(-50%);
  height: 3px;
  width: 9px;
  left: 02px;
  display: block;
  border-left: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
  transform: rotate(-45deg);
}

header .modal .mylabel{
  padding-top: 0;
  padding-left: 27px;
  position: relative;
}

header .phone-type{
  padding-top: 16px;
}

header .deskphone-num input{
  position: static;
  opacity: 1;
  visibility: visible;
}

header .radio2 input:checked + label .click-active{
  display: block !important;
}

header .click-active{
  display: none;
}

header .input-field{
  position: static;
  opacity: 1;
  background-color: transparent;
  border: none;
  visibility: visible;
  width: 100%;
  padding-bottom: 10px;
  font-size: 15px;
  margin-top: 16px;
  color: #CFCFCF;
  border-bottom: 1px solid rgba(255, 255, 255, 0.80) !important;
}

header .MuiSelect-select{
  padding: 7px 0;
  background-color: transparent;
  color: var(--white);
}

header .modal .bottom-area{
  display: flex;
  padding-top: 26px;
  justify-content: space-between;
  align-items: center;
}

header .modal .bottom-area button:nth-child(1){
  background-color: var(--white);
  margin-right: 6px;
}

header .modal .bottom-area button:nth-child(2){
  background-color: #25CB88;
  color: var(--white);
}

header .modal .bottom-area button{
  width: 90px;
  padding: 9px 0;
  font-size: 14px;
  border: none;
  font-weight: 500;
  letter-spacing: 0.25px;
  border-radius: 6px;
}

header svg{
  color: var(--white) !important;
}

header .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused .MuiOutlinedInput-notchedOutline{
  border-width: 0 !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.20) !important;
}

header .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
  border-color: none;
  border-width: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.20) !important;
}

header .mylabel::before{
  content: "";
  position: absolute;
  left: 0;
  top: 03px;
  width: 15px;
  height: 15px;
  border: 1px solid var(--white);
  border-radius: 2px;
}

/* HEADER POPUP */

/* Scrollbar */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--light); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #D9D9D9; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary2); 
}

/* Scrollbar */

.dashboard-area{
  height: 100vh;
  padding-bottom: 32px;
  overflow: hidden;
}

.dashboard{
  padding: 24px 32px 40px 32px;
  height: 100%;
  display: flex;
}

header{
  padding: 12px 32px;
}

header{
  width: 100%;
  background-color: var(--primary);
}

header .header-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header span{
  font-size: 14px;
  font-weight: 500;
  color: var(--white);
  display: block;
  padding: 0 16px;
  position: relative;
}

header .available,
header .name{
  padding: 0 16px;
  border-right: 1px solid rgba(255, 255, 255, 0.24);
}

header .name{
  margin-right: 12px;
}

header .name span{
  padding-left: 30px;
}

header .name span::before{
  content: "";
  background-image: url(./assets/img/profile.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 24px;
  width: 24px;
}

header .available span::before{
  content: "";
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: var(--secondary);
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}

header .available span::after,
header .name span::after{
  content: "";
  background-image: url(./assets/img/dropdown.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 11px;
  width: 11px;
}

header img{
  display: block;
}

header .admin-panel{
  display: flex;
  align-items: center;
}

.left-tabs{
  width: 25%;
  height: 100%;
  background-color: var(--white);
  /* overflow: auto; */
  border-radius: 10px;
  border : 1px solid #EAEAEA;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.10));
  padding: 10px 15px 0 15px;
  z-index: 5;
}

.left-tabs .react-tabs__tab--selected{
  border-radius: 10px;
  background: var(--white);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.10);
  border: none;
}

.left-tabs .react-tabs__tab-list{
  background-color: var(--light);
  border-radius: 10px 10px 0px 0px;
  padding: 9px 0px;
  border: none;
  margin: 0;
  padding: 09px 15px;
  z-index: 9;
}

.react-tabs__tab:focus:after{
  display: none;
}

.left-tabs .react-tabs__tab-panel--selected{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.react-tabs{
  height: 100%;
  overflow-y: clip;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.left-tabs li{
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 33.33%;
  text-align: center;
}

.left-tabs li img{
  height: 27px;
}

.left-tabs .tabdody{
  height: inherit;
  overflow: auto;
  /* display: flex;
  flex-direction: column; */
}

.left-tabs .body-content1{
  height: 100%;
  /* width: 100%; */
  display: flex;
  /* flex-direction: column;
  text-align: center;
  position: relative; */
}

.left-tabs .welcome{
  color: var(--primary2);
  font-weight: 500;
  font-size: 22px;
  display: inline-block;
  padding-top: 28px;
}

.left-tabs h2{
  color: var(--primary2);
  font-weight: 700;
  font-size: 28px;
}

.left-tabs .bottom-area{
  display: flex;
  position: absolute;
  width: 100%;
  left: 0;
  padding: 0 15px;
  bottom: 0;
}

.left-tabs .bottom-area button img{
  margin-bottom: 20px;
}

.left-tabs .bottom-area button{
  border-radius: 16px;
  background: var(--light);
  padding: 15px 0px;
  outline: none;
  cursor: pointer;
  width: 50%;
  border: none;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary2);
}

.left-tabs .bottom-area button:nth-child(1){
  margin-right: 10px;
}

.left-tabs .bottom-area button:nth-child(2){
  margin-left: 10px;
}

.left-tabs .quick-connect h2{
  color: var(--white);
}

.left-tabs .quick-connect .form-group{
  border-radius: 5px;
  border: 1px solid #EAEAEA;
}

.left-tabs .quick-connect .MuiSelect-select{
  color: var(--white);
  font-size: 16px;
  display: flex;
  text-indent: 40px;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
  text-indent: 15px;
}

.left-tabs .quick-connect .MuiSvgIcon-root{
  color: var(--white);
  left: 40px;
}

.left-tabs .quick-connect .form-group{
  width: 100%;
}

.left-tabs .quick-connect .phone-num{
  font-size: 17px;
  color: #fff;
  padding-top: 55px;
  width: 100%;
  text-align: left;
  padding-bottom: 12px;
  font-weight: 600;
  letter-spacing: -0.08px;
  color: var(--white);
}

.left-tabs .numberpad{
  background: linear-gradient(179deg, #0F094F 12.46%, #25CB88 182.42%);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.left-tabs .numberpad span{
  font-size: 15px;
  font-weight: bold;
  padding-top: 4px;
  color: var(--white);
}

.left-tabs .numberpad .number{
  font-size: 30px;
  color: var(--white);
  font-weight: 600;
}

.left-tabs .numberpad .call-options{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin-top: 30px;
}

.left-tabs .numberpad .round{
  height: 70px;
  width: 70px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  justify-self: center;
  background-color: var(--primary2);
}

.left-tabs .numberpad .round-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.left-tabs .numberpad h2{
  color: var(--white);
}

.left-tabs .numberpad .duration{
  font-size: 32px;
  font-weight: 500;
  color: var(--white);
  padding-top: 15px;
}

/* .left-tabs .numpad-area{
  height: 60%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 20px 15px;
} */

/* .left-tabs .numpad-area li:nth-child(13) p,
.left-tabs .numpad-area li:nth-child(14) p,
.left-tabs .numpad-area li:nth-child(15) p{
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 30px;
  border-radius: 40px;
  padding: 7px !important;
}

.left-tabs .numpad-area li:nth-child(14){
  padding-left: 10px;
  padding-right: 10px;
}

.left-tabs .numpad-area li:nth-child(13) p{
  background-image: url(../src/assets/img/admin-numarea.svg);
  background-color: var(--white) !important;
}

.left-tabs .numpad-area li:nth-child(14) p{
  background-image: url(../src/assets/img/end-call.svg);
  background-color: #25CB88 !important;
}

.left-tabs .numpad-area li:nth-child(15) p{
  background-image: url(../src/assets/img/incoming.svg);
  background-color: var(--white) !important;
}

.left-tabs .numpad-area p{
  border: none !important;
}

.left-tabs .numpad-area li p{
  width: 100%;
  padding: 0;
}

.left-tabs .numpad-area li{
  padding: 40px 0;
} */

.left-tabs .numpad-area .row{
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
  border-radius: 40px;
  background: var(--primary2);
}

.left-tabs .numpad-area .row button{
  width: 33.33%;
  background-color: transparent;
  padding: 20px 10px;
  color: var(--white);
  border: none;
  font-size: 30px;
}

/* .react-tabs__tab--selected + .react-tabs__tab-list + .react-tabs + div + .left-tabs{
  background-color: pink !important;
} */

.left-tabs:has(> .react-tabs__tab--selected) {
  background-color: lightcoral;
}

.left-tabs .numpad-area .close-button{
  border: none;
  height: auto;
  background-color: var(--white);
  font-size: 30px;
  color: var(--primary2);
  font-weight: 700;
  border: 1px solid var(--primary2);
  padding: 10px 20px;
  margin-right: 10px;
}

.left-tabs .numpad-area h2{
  text-align: center;
}

.left-tabs .numpad-area input{
  margin-bottom: 50px;
  padding: 0 15px;
  border: none;
  overflow: hidden;
  font-size: 35px;
  color: var(--primary2);
  font-weight: 700;
}

.left-tabs .numpad-area{
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  justify-content: flex-end;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.left-tabs .numpad-area button span{
  padding: 9px 30px;
  border-radius: 40px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-tabs .numpad-area button .endcall{
  background-color: #25CB88;
  height: 100%;
}

.left-tabs .message-panelstatus{
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  /* border-radius: 30px; */
}

.left-tabs .message-panelstatus .messagepanel-chatbox{
  height: 100%;
  overflow: auto;
  margin-bottom: 100px;
}

.left-tabs .task-panelstatus{
  height: calc(100% - 100px);
  overflow: auto;
}

.left-tabs .message-panelstatus h3{ 
  font-size: 15px;
  font-weight: 600;
  color: var(--primary2);
}

.left-tabs .message-panelstatus .toparea{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(15, 9, 79, 0.8);
}

.left-tabs .message-panelstatus .toparea span{
  font-size: 13px;
  font-weight: 500;
  color: var(--primary2);
}

/* .left-tabs .bottom-area button::before{
  content: "";
  display: block;
  height: 43px;
  width: 49px;
  background-image: url(./assets/img/numberpad.svg);
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
  text-align: center;
  background-repeat: no-repeat; 
} */

.main-dashboard{
  width: 50%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.left-tabs > div{
  height: 100%;
    display: flex;
    flex-direction: column;
}

.title-main h2{
  color: var(--primary2);
  font-size: 22px;
  font-weight: bold;
}

.main-dashboard .customprofile{
  border-radius: 10px;
  border: 1px solid #EAEAEA;
  background: var(--white);
  padding: 26px 22px;
  padding-bottom: 0;
}

.main-dashboard .customprofile label{
  color: var(--primary2);
  font-size: 15px;
  font-weight: 600;
}

.main-dashboard .customprofile span{
  display: block;
  color: rgba(15, 9, 79, 0.35);
  font-size: 14px;
  letter-spacing: 0.42px;
}

.main-dashboard .customprofile img{
  display: block;
}

.main-dashboard .customprofile .picturediv{
  border-radius: 10px;
  background: var(--light);
  padding: 13px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}

.main-dashboard .plusbutton{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  color: var(--white);
  background-color: var(--primary2);
  border: none;
  font-size: 26px;
}

.main-dashboard .grid-profile{
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
}

.main-dashboard .grid-profile > div{
  display: flex;
  width: 25%;
  margin-bottom: 15px;
}

.main-dashboard .table-area th:nth-child(n+2),
.main-dashboard .table-area td:nth-child(n+2){
  text-align: center;
}

.main-dashboard .table-area th{
  color: var(--primary2);
  font-size: 13px;
  font-family: "poppins";
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
}

.main-dashboard .mytable{
  border: 1px solid #eaeaea;
  border-radius: 10px;
  margin-top: 20px;
}

.main-dashboard .mytable .css-1fw5qro-MuiPaper-root{
  box-shadow: none;
}

.main-dashboard .mytable table{
  border-collapse: collapse;
  margin-top: 10px;
}

.main-dashboard .mytable .css-41abqd-MuiTableContainer-root{
  max-height: 150px;
}

.main-dashboard .mytable tbody tr{
  border-bottom: 1px solid rgba(55, 65, 81, 0.09);
}

.main-dashboard .mytable thead{
  border-radius: 8px;
  border: 2px solid rgba(55, 65, 81, 0.09);
  border-collapse: separate;
}

.main-dashboard .mytable .react-tabs__tab-list{
  background-color: var(--primary2);
  border-radius: 10px;
  margin: 0;
  padding: 8px;
  border: 1px solid rgba(15, 9, 79, 0.06);
}

.main-dashboard .mytable .react-tabs__tab--selected{
  background-color: var(--white);
  color: var(--primary2);
}

.main-dashboard .mytable th{
  padding: 12px;
}

.main-dashboard .mytable th,
.main-dashboard .mytable td{
  border: none;
}

.main-dashboard .react-tabs__tab-list li{
  padding: 10px 20px;
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.10));
  background-color: transparent;
  border: none;
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
}

.main-dashboard .mytable .tabdody{
  padding: 12px;
}

.main-dashboard .table-area td{
  font-family: "poppins";
  font-size: 14px;
  letter-spacing: 0.3px;
  font-weight: 600;
}

.main-dashboard .grid-d-bottom > div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-dashboard .grid-d-bottom{
  display: flex;
  margin-top: 24px;
  height: 100%;
  overflow: hidden;
}

.main-dashboard .grid-d-bottom img{
  width: 100%;
}

.main-dashboard .grid-d-bottom .transcript-area{
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #F7F9FC;
  background: var(--light);
  overflow: auto;
}

.main-dashboard .transcript-area .transcript-box{
  border-radius: 5px;
  background: var(--white); 
  padding: 8px 24px;
  margin-top: 16px;
}

.main-dashboard .transcript-area h4,.left-tabs .message-panelstatus h4,
.main-dashboard .transcript-area span,.left-tabs .message-panelstatus span,
.main-dashboard .transcript-area p,.left-tabs .message-panelstatus p{
  color: var(--primary2);
  font-weight: 600;
  letter-spacing: 0.3px;
}

.main-dashboard .transcript-area h4,
.left-tabs .message-panelstatus h4{
  font-size: 14px;
}

.main-dashboard .transcript-area span,
.left-tabs .message-panelstatus span{
  font-size: 13px;
  opacity: 0.7;
  display: block;
  padding: 4px 0;
}
.left-tabs .message-panelstatus span,
.main-dashboard .transcript-area span{
  padding-top: 0;
}

.main-dashboard .transcript-area p,
.left-tabs .message-panelstatus p{
  font-size: 14px;
  line-height: 16px;
  opacity: 0.5;
}

.left-tabs .message-panelstatus .message-box{
  padding: 12px 20px;
  background-color: var(--white);
  border-radius: 5px;
  margin-bottom: 10px;
}

.left-tabs .message-panelstatus .message-type{
  display: flex;
  align-items: center;
  position: relative;
  position: sticky;
  bottom: 0;
  padding: 10px 0;
  background-color: var(--white);
}

.left-tabs .message-panelstatus .message-bottombox{
  display: flex;
  background-color: var(--primary2);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.left-tabs .message-panelstatus .endchat{
  background-color: #D92C2C;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0 40px;
}

.left-tabs .message-panelstatus .mingcute{
  border-radius: 10px;
  background: var(--white);
  display: flex;
  padding: 12px;
}

.left-tabs .message-panelstatus .message-type button{
  border-radius: 5px;
  background-color: var(--white);
  padding: 13px;
  display: flex;
  position: absolute;
  right: 10px;
}

.left-tabs .message-panelstatus input::placeholder{
  color: var(--white);
}

.left-tabs .message-panelstatus input{
  background-color: #161337;
  width: 100%;
  padding: 20px 0;
  font-size: 14px;
  color: var(--white);
  text-indent: 20px;
  border-radius: 8px;
}

.left-tabs .message-panelstatus .message-box:nth-child(even){
  background-color: var(--primary3);
}

.left-tabs .message-panelstatus .message-box:nth-child(even) h4,
.left-tabs .message-panelstatus .message-box:nth-child(even) span,
.left-tabs .message-panelstatus .message-box:nth-child(even) p{
  color: var(--white);
}

.left-tabs .task-panelstatus{
  background-color: var(--white);
  padding: 0;
}

.left-tabs .task-panelstatus h4{
  padding-bottom: 10px;
}

.left-tabs .task-panelstatus p{
  padding-top: 10px;
  padding-right: 15px;
}

.left-tabs .task-panelstatus .task-user{
  padding: 11px 24px;
  font-size: 14px;
  font-weight: 500;
  color: var(--white);
  border-radius: 20px 0px;
  background: #9993BD;
  width: fit-content;
  margin-left: auto;
}

.left-tabs .task-panelstatus span{
  display: flex;
  align-items: center;
}

.left-tabs .task-panelstatus span img{
  margin-right: 10px;
}

.left-tabs .task-panelstatus .task-box:nth-child(even) span,
.left-tabs .task-panelstatus .task-box:nth-child(even) h4,
.left-tabs .task-panelstatus .task-box:nth-child(even) p{
  color: var(--primary2);
}

.left-tabs .task-panelstatus .add-task{
  background-color: var(--primary2);
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 25px;
  position: absolute;
  bottom: 15px;
  right: 8px;
}

.left-tabs .task-panelstatus .task-box:nth-child(even){
  background: rgba(241, 177, 218, 0.30);;
}

.left-tabs .task-panelstatus .task-box{
  border-radius: 0px 20px 20px 20px;
  background: rgba(241, 177, 218, 0.30);
  padding: 12px 0px 0 18px;
  margin-top: 24px;
}

.right-panel{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.right-panel .search-area .form-group{
  display: flex;
}

.right-panel .search-area input{
  width: 100%;
  height: 55px;
  text-indent: 50px;
  font-size: 15px;
  border-radius: 100px 0 0 100px;
  border: 1px solid #EAEAEA;
}

.right-panel .search-area button{
  background-color: var(--primary);
  padding: 0 20px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 100px 100px 0px;
}

.right-panel .search-area{
  position: relative;
}

.right-panel .search-area .search-img img{
  display: block;
}

.right-panel .search-area .search-img{
  position: absolute;
  left : 16px;
  top: 50%;
  transform: translateY(-50%);
}

.right-panel .titlesm{
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.18px;
  color: var(--primary);
}

.right-panel .search-results{
  border: 1px solid #EAEAEA;
  padding: 16px;
  border-radius: 10px;
  margin-top: 13px;
  height: 100%;
  overflow: auto;
}

.right-panel .search-results .content-box{
  border-radius: 15px;
  background: var(--light);
  padding: 15px 28px;
  margin-top: 11px;
  position: relative;
}

.right-panel .search-results .content-box::before{
  content: "";
  position: absolute;
  left: 0;
  top: 19px;
  width: 4px;
  background-color: var(--primary2);
  height: 60px;
}

.right-panel .search-results h4{
  font-size: 16px;
  font-weight: 600;
  color: var(--primary2);
}

.right-panel .search-results p{
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.39px;
  padding-top: 8px;
  color: var(--grey2);
}

.right-panel .steps{
  background-color: var(--primary2);
  padding: 25px 0;
  border-radius: 16px;
  display: flex;
  align-items: center;
  margin-top: 24px;
  justify-content: center;
}

.right-panel .steps img{
  margin-right: 24px;
}

.right-panel .button-groups{
  display: flex;
  margin-top: 24px;
}

.right-panel .button-groups button img{
  margin-right: 16px;
}

.right-panel .button-groups button:nth-child(1){
  margin-right: 10px;
}

.right-panel .button-groups button:nth-child(2){
  margin-left: 10px;
}

.right-panel .button-groups button{
  font-size: 15px;
  padding: 22px 0;
  font-weight: 500;
  color: var(--black);
  background-color: var(--light);
  width: 50%;
  display: flex;
  text-align: center;
  border: none;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}

.right-panel .user-journey{
  border: 1px solid #EAEAEA;
  padding: 20px;
  margin-top: 24px;
  border-radius: 10px;
}

.right-panel .user-journey .grid-journey{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 22px;
}

.right-panel .grid-journey .journey-item{
  width: 33.33%;
  text-align: center;
  position: relative;
}

.right-panel .grid-journey .journey-item:nth-child(4){
  align-items: flex-end;
  justify-content:center;
  margin-bottom: 10px;
  display: flex;
}

.right-panel .grid-journey .journey-item:nth-child(4) .line{
  left: 95%;
  right: 0;
}

.right-panel .user-journey h5{
    color : var(--primary2);
    font-size: 12px;
    font-weight: 400;
}

.right-panel .user-journey img{
  display: block;
  padding: 4px 0;
  margin: auto;
}

.right-panel .user-journey span{
  font-size: 13px;
  font-weight: 500;
  color: var(--primary2);
  display: block;
  width: 100%;
  margin: auto;
}

.right-panel .user-journey .line{
  position: absolute;
  right: -10px;
}


.left-tabs.active{
  background-color: var(--white) !important;
}

.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar{
  display: none !important;
}




@media(max-width:1800px){
  header{
    padding: 6px 32px;
  }
  .dashboard{
    padding: 15px 20px;
  }
  .left-tabs{
    padding: 7px 13px 0 13px;
  }
  .left-tabs .welcome{
    font-size: 20px;
    padding-top: 10px;
  }
  .left-tabs h2{
    font-size: 24px;
  }
  .left-tabs .picture img{
    height: 160px;
  }
  .left-tabs li{
    height: 40px;
  }
  .left-tabs li img{
    width: 22px;
  }
  .left-tabs li:nth-child(3) img{
    width: 20px;
    height: 24px;
  }
  .left-tabs .bottom-area button{
    font-size: 13px;
  }
  .left-tabs .bottom-area button img{
    width: 24px;
  }
  .left-tabs .bottom-area button:nth-child(2) img{
    width: 33px;
  }
  .title-main h2{
    font-size: 18px;
  }
  .main-dashboard .plusbutton{
    height: 36px;
    width: 36px;
    font-size: 17px;
  }
  .main-dashboard .customprofile{
    padding: 13px 24px;
  }
  .main-dashboard .customprofile .picturediv{
    height: 38px;
    margin-right: 10px;
    width: 38px;
  }
  .main-dashboard .grid-profile{
    flex-wrap: nowrap;
    overflow: hidden;
    margin-top: 18px;
    overflow: auto;
  }
  .main-dashboard .customprofile label{
    font-size: 14px;
  }
  .main-dashboard .customprofile span{
    font-size: 13px;
  }
  .main-dashboard .grid-profile > div{
    min-width: 200px; 
    margin-bottom: 0;
  }
  .main-dashboard .react-tabs__tab-list li{
    font-size: 12px;
    padding: 6px 20px;
  }
  .main-dashboard .mytable .react-tabs__tab-list{
    padding: 5px;
  }
  .main-dashboard .mytable,
  .main-dashboard .grid-d-bottom,
  .right-panel .button-groups,
  .right-panel .user-journey,
  .right-panel .steps{
    margin-top: 14px;
  }
  .main-dashboard .table-area th{
    padding: 6px;
    font-size: 12px;
  }
  .main-dashboard .table-area td{
    padding: 8px;
    font-size: 12px;
  }
  .main-dashboard .mytable .tabdody{
    padding: 10px;
  }
  .main-dashboard .grid-d-bottom .transcript-area h3{
    font-size: 16px;
  }
  .main-dashboard .transcript-area h4{
    font-size: 13px;
  }
  .main-dashboard .transcript-area span{
    font-size: 12px;
  }
  .main-dashboard .transcript-area p{
    font-size: 12px;
  }
  .main-dashboard .grid-d-bottom .transcript-area{
    padding: 10px 12px;
  }
  .main-dashboard .transcript-area .transcript-box{
    padding: 7px 18px;
  }
  .main-dashboard .mytable .css-41abqd-MuiTableContainer-root{
    height: 120px;
  }
  .right-panel .search-area input{
    height: 45px;
    font-size: 14px;
  }
  .right-panel .search-area .search-img img{
    width: 20px;
  }
  .right-panel .search-results{
    padding: 14px;
  }
  .right-panel .titlesm h3{
    font-size: 16px;
  }

  .right-panel .search-results h4{
    font-size: 14px;
  }
  .right-panel .search-results p{
    font-size: 11px;
  }
  .right-panel .steps{
    padding: 13px 0;
    font-size: 15px;
  }
  .right-panel .steps img{
    width: 18px;
  }
  .right-panel .button-groups button{
    padding: 13px 0;
    font-size: 14px;
  }
  .right-panel .button-groups button img{
    width: 20px;
  }
  .right-panel .journey-item div img{
    width: 30px;
  }
  .right-panel .journey-item:nth-child(4) .line img{
    width: 100px;
  }
  .right-panel .user-journey{
    padding: 13px;
  }
  .user-jorney .title-main h2{
    font-size: 16px;
  }
  .main-dashboard .mytable tbody tr td:nth-child(5) p{
    padding: 7px !important;
  }
  .left-tabs .quick-connect .MuiSelect-select{
    padding: 10px;
    font-size: 13px;
  }
  .left-tabs .quick-connect .phone-num{
    font-size: 15px;
    padding-top: 20px;
  }
  .MuiList-root {
    padding: 1px 0 !important;
  }
  .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
    font-size: 13px !important; 
    padding: 05px 10px !important;
  }
  .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root em{
    display: flex;
    align-items: center;
  }
  .left-tabs .numpad-area .row button{
    padding: 10px;
    font-size: 24px;
  }
  .left-tabs .numpad-area .row button img{
    width: 28px;
  }
  .left-tabs .numpad-area .close-button{
    padding: 5px 9px;
    font-size: 25px;
  }
  .left-tabs .numpad-area input{
    margin-bottom: 20px;
  }
  .left-tabs .numberpad .number{
    font-size: 22px;
  }
  .left-tabs .numberpad .duration{
    font-size: 24px;
    padding-top: 5px;
  }
  .left-tabs .numberpad .picture{
    padding: 9px 0px;
  }
  .left-tabs .numberpad .picture img{
    width: 90px;
    display: block;
    height: auto;
    padding: 0 !important;
  }
  .left-tabs .numberpad .round-box img{
    width: 22px;
  }
  .left-tabs .numberpad .round{
    height: 55px;
    width: 55px;
  }
  .left-tabs .numberpad span{
    font-size: 12px;
  }
  .left-tabs .numberpad .round-box:nth-child(5) .round{
    height: 60px !important;
    width: 60px !important;
  }
  .left-tabs .message-panelstatus{
    padding: 0 10px;
  }
  .left-tabs .task-panelstatus{
    padding: 0;
  }
  .left-tabs .message-panelstatus h3{
    font-size: 13px;
  }
  .left-tabs .message-panelstatus .toparea span{
    font-size: 12px;
  }
  .left-tabs .message-panelstatus .toparea{
    padding-top: 10px;
    margin-bottom: 14px;
  }
  .left-tabs .message-panelstatus .message-box {
    padding: 7px 12px;
    margin-bottom: 10px;
  }
  .left-tabs .message-panelstatus h4,
  .left-tabs .message-panelstatus span{
    font-size: 12px;
  }
  .left-tabs .message-panelstatus p{
    font-size: 11px;
    line-height: 14px;
  }
  .left-tabs .message-panelstatus .message-bottombox{
    padding: 13px;
  }
  .left-tabs .message-panelstatus .mingcute{
    padding: 6px;
  }
  .left-tabs .message-panelstatus .mingcute img,
  .left-tabs .message-panelstatus .endchat img{
    width: 20px;
  }
  .left-tabs .message-panelstatus input{
    padding: 13px;
    font-size: 13px;
    text-indent: 7px;
  }
  .left-tabs .message-panelstatus .message-type button{
    padding: 8px;
  }
  .left-tabs .task-panelstatus .task-box{
    margin-top: 13px;
  }
  .left-tabs .task-panelstatus .task-box h4{
    font-size: 14px !important;
    padding-bottom: 8px;
  }
  .left-tabs .task-panelstatus p{
    padding-top: 8px;
    padding-bottom: 14px;
  }
  .left-tabs .task-panelstatus .task-user{
    padding: 7px 18px;
    font-size: 12px;
  }
  .left-tabs .task-panelstatus .add-task{
    height: 55px;
    width: 55px;
  }
  .left-tabs .message-panelstatus .messagepanel-chatbox{
    margin-bottom: 60px;
  }

}

@media(max-width:1550px){

  header{
    padding: 5px 12px;
  }
  .dashboard {
    padding: 8px 13px;
  }
  .main-dashboard{
    padding: 0 10px;
  }
  .left-tabs {
    padding: 5px 11px 0 11px;
  }
  .left-tabs .picture img {
    height: 130px;
  }
  .left-tabs .welcome {
    font-size: 16px;
    padding-top: 6px;
  }
  .left-tabs h2 {
    font-size: 19px;
  }
  .left-tabs .bottom-area button{
    font-size: 12px;
  }
  .main-dashboard .customprofile{
    padding: 9px 17px;
  }
  .title-main h2{
    font-size: 14px;
  }
  .main-dashboard .customprofile label,
  .main-dashboard .customprofile span{
    font-size: 12px;
  }
  .main-dashboard .table-area th{
    font-size: 10px;
  }
  .main-dashboard .table-area td{
    font-size: 11px;
  }
  .right-panel .search-area input{
    height: 35px;
    font-size: 12px;
  }
  .right-panel .search-results{
    padding: 10px;
  }
  .right-panel .search-results h3{
    font-size: 14px;
  }
  .right-panel .titlesm{
    font-size: 14px;
  }
  .right-panel .search-results .content-box{
    padding: 10px 18px;
  }
  .main-dashboard .mytable,
  .main-dashboard .grid-d-bottom,
  .right-panel .steps,
  .right-panel .button-groups,
  .right-panel .user-journey{
    margin-top: 10px;
  }
  .main-dashboard .mytable tbody tr td:nth-child(5) p{
    padding: 6px !important;
  }
  .main-dashboard .mytable .tabdody{
    padding: 6px;
  }
  .main-dashboard .mytable table{
    margin-top: 5px;
  }
  .main-dashboard .grid-d-bottom .transcript-area{
    padding: 5px 9px;
  }
  .right-panel .button-groups button {
    padding: 9px 0;
    font-size: 12px;
  }
  .right-panel .user-journey span{
    font-size: 12px;
  }
  .main-dashboard .grid-profile{
    margin-top: 7px;
  }
  .main-dashboard .mytable .css-41abqd-MuiTableContainer-root{
    height: 100px;
  }
  .grid-d-bottom img{
    width: 100%;
  }
  .modal{
    padding: 16px;
  }
  .modal-active h2{
    font-size: 19px;
  }
  .modal .stepbody{
    margin-top: 18px;
  }
  .modal .flexarea .icon{
    width: 42px;
    height: 42px;
  }
  .modal .flexarea h4{
    font-size: 15px;
  }
  .modal .flexarea p{
    font-size: 13px;
  }
  .modal .stepbody .stepline{
    left: 20.5px;
  }
  .video-screenpicture .oncall img{
    width: 90px;
  }
  .video-screenpicture .videoscreen-btns{
    bottom: 18px;
  }
  .video-screenpicture .oncall {
    position: absolute;
    top: 18px;
    right: 18px;
  }
  .video-screenpicture button{
    min-width: 30px;
    min-height: 30px;
  }
  .video-screenpicture .videoscreen-btns div:nth-child(3) button{
    min-height: 40px;
    min-width: 40px;
  }
  .video-screenpicture button img{
    width: 14px !important;
  }
  .modal .header{
    padding-top: 28px;
  }
  .modal .header span{
    font-size: 12px;
  }
  .modal p,
  header .modal p{
    font-size: 14px;
  }
  .profile-form label,
  header .modal label{
    font-size: 14px;
  }
  .profile-form{
    padding-top: 20px;
  }
  .profile-form input, .profile-form .MuiSelect-select, .profile-form .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
    height: 40px !important;
    text-indent: 13px;
    font-size: 13px;
  }
  .profileform-submit{
    padding: 14px 70px;
    font-size: 14px;
  }
  .profile-form svg{
    width: 19px;
  }
  header .modal h4{
    font-size: 15px;
  }
}


@media(max-width:1350px){
  header .logo img{
    width: 60px;
  }
  header span{
    font-size: 11px;
  }
  header .settings img{
    width: 15px;
  }
  header .name span::before{
    height: 15px;
    width: 15px;
  }
  header .available, header .name{
    padding: 0 10px;
  }
  .dashboard {
    padding: 6px 8px;
  }
  .left-tabs .react-tabs__tab-list{
    padding: 7px 9px;
  }
  .left-tabs li{
    height: 30px;
  }
  .left-tabs li img{
    width: 18px;
  }
  .left-tabs{
    padding: 5px 09px 0px 9px;
  }
  .left-tabs li:nth-child(3) img{
    width: 15px;
    height: 24px;
  }
  .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
    padding: 4px 7px !important;
    font-size: 10px !important;
  }
  .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root img{
    width: 20px;
  }
  .left-tabs .quick-connect .MuiSelect-select {
    padding: 7px;
    font-size: 12px;
    text-indent: 22px;
  }
  .form-group img{
    width: 14px;
  }
  .left-tabs .bottom-area button{
    font-size: 11px;
    padding: 8px;
  }
  .left-tabs .numberpad .number{
   font-size: 18px;
  }
  .left-tabs .numberpad .duration{
    font-size: 20px;
  }
  .left-tabs .numberpad .picture img{
    width: 60px;
  }
  .left-tabs h2{
    font-size: 16px;
  }
  .left-tabs .numberpad .round{
    height: 40px;
    width: 40px;
  }
  .left-tabs .numberpad .round-box img{
    width: 17px;
  }
  .left-tabs .numberpad .round-box:nth-child(5) .round{
    height: 50px !important;
    width: 50px !important;
  }
  .left-tabs .numberpad span{
    font-size: 10px;
  }
  .left-tabs .message-panelstatus h3{
    font-size: 11px;
  }
  .left-tabs .message-panelstatus .toparea span{
    font-size: 10px;
  }
  .left-tabs .message-panelstatus h4, .left-tabs .message-panelstatus span{
    font-size: 10px !important;
  }
  .left-tabs .task-panelstatus .task-box h4{
    padding-bottom: 5px;
  }
  .left-tabs .message-panelstatus p{
    font-size: 10px;
    line-height: 14px;
    padding-bottom: 9px;
  }
  .left-tabs .message-panelstatus input{
    padding: 10px 6px;
    font-size: 11px;
  }
  .left-tabs .message-panelstatus .message-type button{
    padding: 6px;
  }
  .left-tabs .numpad-area .row button{
    font-size: 20px;
  }
  .left-tabs .numpad-area .row button span{
    padding: 5px 24px;
  }
  .left-tabs .numpad-area .row button img{
    width: 22px;
  }
  .left-tabs .task-panelstatus .add-task{
    height: 40px;
    width: 40px;
    font-size: 20px;
  }
  .right-panel .user-journey span{
    font-size: 9px;
  }
  .right-panel .user-journey h5{
    font-size: 10px;
  }
  .left-tabs .bottom-area button img{
    margin-bottom: 10px;
  }
  .left-tabs .quick-connect .MuiSvgIcon-root {
    left: 24px;
    width: 16px;
  }
  .modal {
    padding: 13px;
  }
  .modal-active h2{
    font-size: 17px;
  }
  .modal .stepbody{
    margin-top: 15px;
  }
  .modal .flexarea .icon {
    width: 38px;
    height: 38px;
  }
  .modal .flexarea h4{
    font-size: 14px;
  }
  .modal .flexarea p{
    font-size: 12px;
  }
  .modal .flexarea{
    margin-bottom: 15px;
  }
  .modal .closepopupbtn img{
    width: 12px;
  }
  .modal .stepbody .stepline{
    left: 18.5px;
  }
  .video-screenpicture .oncall img {
    width: 80px;
  }
  .video-screenpicture .oncall{
    top: 15px;
    right: 15px;
  }
  .modal .header{
    padding-top: 12px;
  }
  .profile-form label{
    font-size: 13px;
  }
  .profile-form input, .profile-form .MuiSelect-select, .profile-form .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
    height: 35px !important;
    font-size: 11px;
    text-indent: 11px;
  }
  .profile-form{
    padding-top: 11px;
  }
  .profileform-submit {
    padding: 11px 60px;
    font-size: 12px;
  }
  header .modal h4{
    font-size: 13px;
  }
  header .modal label{
    font-size: 12px;
  }
  header .modal p{
    font-size: 12px;
  }
  header .phone-type{
    padding-top: 0;
  }
  header .modal li{
    margin-top: 10px;
  }
  header .MuiSelect-select{
    font-size: 12px;
  }
  header .modal .bottom-area{
    padding-top: 18px;
  }
  header .modal .bottom-area button{
    width: 65px;
    font-size: 12px;
    padding: 6px 0;
  }


}

@media(max-width:1150px){
  .left-tabs li{
    height: 25px;
  }
  .left-tabs li img{
    width: 14px;
  }
  .left-tabs .react-tabs__tab-list{
    padding: 3px 6px;
  }
  .left-tabs li:nth-child(3) img{
    width: 12px;
    height: 20px;
    position: relative;
    top: -2.5px;
  }
  header .logo img{
    width: 50px;
  }
  header span{
    font-size: 10px;
  }
  .left-tabs .welcome{
    font-size: 14px;
  }
  .left-tabs .bottom-area button{
    font-size: 8px;
  }
  .left-tabs .bottom-area button img{
    width: 18px;
  }
  .left-tabs .quick-connect .MuiSelect-select{
    font-size: 10px;
    text-indent: 17px;
    padding: 4px;
  }
  .form-group img{
    width: 15px;
  }
  .left-tabs .quick-connect h2{
    font-size: 14px;
  }
  .left-tabs .quick-connect .phone-num{
    font-size: 10px;
  }
  .left-tabs .quick-connect .MuiSvgIcon-root {
    left: 20px;
  }
  .left-tabs .numpad-area .row{
    padding: 0 10px;
  }
  .left-tabs .numpad-area .row button{
    font-size: 15px;
  }
  .left-tabs .numpad-area .row button span{
    padding: 3px 20px;
  }
  .left-tabs .numpad-area .row button img{
    width: 18px;
  }
  .left-tabs .numpad-area .close-button{
    font-size: 20px;
  }
  .left-tabs .numberpad .number{
    font-size: 15px;
  }
  .left-tabs .numberpad .duration{
    font-size: 17px;
  }
  .left-tabs .numberpad {
    height: calc(100% - 100px) !important;
  }
  .left-tabs .numberpad .picture img{
    width: 50px;
  }
  .left-tabs h2{
    font-size: 14px;
  }
  .left-tabs .numberpad .round{
    height: 30px;
    width: 30px;
  }
  .left-tabs .numberpad .round-box img{
    width: 12px;
  }
  .left-tabs .numberpad .round-box:nth-child(5) .round{
    height: 40px !important;
    width: 40px !important;
  }
  .left-tabs .numberpad span{
    font-size: 9px;
  }
  .left-tabs .numberpad .call-options{
    margin-top: 20px;
  }
  .left-tabs .message-panelstatus h3{
    font-size: 10px;
    line-height: 13px;
  }
  .left-tabs .message-panelstatus .toparea{
    padding-top: 5px;
  }
  .left-tabs .message-panelstatus .message-box{
    padding: 7px;
    margin-top: 9px;
  }
  .left-tabs .message-panelstatus p{
    padding-top: 0;
  }
  .left-tabs .message-panelstatus h4, .left-tabs .message-panelstatus span{
    font-size: 9px !important;
  }
  .left-tabs .message-panelstatus input{
    padding: 8px 5px;
    font-size: 10px;
  }
  .left-tabs .message-panelstatus .message-type button{
    padding: 4px;
  }
  .left-tabs .message-panelstatus .message-type button img{
    width: 10px;
  }
  .left-tabs .message-panelstatus .message-bottombox{
    padding: 10px;
  }
  .left-tabs .message-panelstatus .mingcute{
    padding: 4px;
  }
  .left-tabs .message-panelstatus .mingcute img, .left-tabs .message-panelstatus .endchat img{
    width: 14px;
  }
  .left-tabs .task-panelstatus .task-box h4{
    font-size: 12px !important;
  }
  .left-tabs .message-panelstatus h4, .left-tabs .message-panelstatus span{
    font-size: 8px !important;
  }
  .left-tabs .message-panelstatus p{
    font-size: 9px;
    line-height: 12px;
  }
  .left-tabs .task-panelstatus .task-user{
    padding: 6px 9px;
  }
  .left-tabs .task-panelstatus span img{
    margin-right: 7px;
    width: 13px;
  }
  .left-tabs .task-panelstatus .add-task {
    height: 30px;
    width: 30px;
    font-size: 14px;
  }
  .title-main h2{
    font-size: 12px;
  }
  .main-dashboard .customprofile .picturediv{
    width: 23px;
    height: 23px;
  }
  .main-dashboard .customprofile img{
    width: 15px;
  }
  .main-dashboard .customprofile label, .main-dashboard .customprofile span{
    font-size: 11px;
  }
  .main-dashboard .plusbutton{
    height: 25px;
    width: 25px;
    font-size: 14px;
  }
  .main-dashboard .react-tabs__tab-list li{
    font-size: 10px;
    padding: 4px 12px;
  }
  .main-dashboard .mytable .react-tabs__tab-list{
    padding: 4px;
    display: flex;
  }
  .main-dashboard .table-area th{
    font-size: 8px;
    padding: 0 4px;
    min-width: 110px !important;
  }
  .main-dashboard .table-area td{
    font-size: 10px;
    padding: 4px;
  }
  .main-dashboard .mytable tbody tr td:nth-child(5) p{
    padding: 4px !important;
    font-size: 8px;
  }
  .main-dashboard .mytable .css-41abqd-MuiTableContainer-root{
    height: 70px;
  }
  .main-dashboard .grid-d-bottom .transcript-area h3{
    font-size: 12px;
  }
  .main-dashboard .grid-d-bottom .transcript-area{
    padding: 4px 7px;
  }
  .main-dashboard .transcript-area .transcript-box{
    margin-top: 8px;
    padding: 5px;
  }
  .main-dashboard .transcript-area h4{
    font-size: 10px;
  }
  .main-dashboard .transcript-area p{
    line-height: 13px;
  }

  .right-panel .search-area input{
    height: 28px;
    font-size: 10px;
    text-indent: 30px;
  }
  .right-panel .search-area .search-img{
    left: 10px;
  }
  .right-panel .search-area .search-img img{
    width: 14px;
  }
  .right-panel .search-area button img{
    width: 10px;
  }
  .right-panel .titlesm h2{
    font-size: 12px;
  }
  .right-panel .search-results h4{
    font-size: 11px;
  }
  .right-panel .search-results h3{
    font-size: 12px;
  }
  .right-panel .search-results p{
    font-size: 9px;
    line-height: 13px;
    padding-top: 6px;
  }
  .right-panel .search-results .content-box,
  .right-panel .search-results{
    padding: 8px;
  }
  .right-panel .button-groups button{
    font-size: 10px;
  }
  .right-panel .button-groups button img{
    width: 10px;
    margin-right: 7px;
  }
  
  .right-panel .steps{
    padding: 7px 0;
  }
  .right-panel .steps h3{
    font-size: 10px;
  }
  .right-panel .steps img{
    width: 11px;
    margin-right: 8px;
  }
  .right-panel .user-journey{
    padding: 10px;
  }
  .right-panel .user-journey .grid-journey{
    margin-top: 10px;
  }
  .right-panel .user-journey h5{
    font-size: 9px;
  }
  .right-panel .journey-item div img{
    width: 20px;
  }
  .main-dashboard .transcript-area span,
  .main-dashboard .transcript-area p{
    font-size: 9px;
  }
  .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root img{
    width: 15px;
  }
  .left-tabs .message-panelstatus .messagepanel-chatbox{
    margin-bottom: 45px;
  }
  .modal-active h2{
    font-size: 15px;
  }
  .modal .flexarea .icon {
    width: 35px;
    height: 35px;
  }
  .modal .stepbody .stepline{
    left: 16.5px;
    top: 1px;
  }
  .modal .stepbody{
    margin-top: 12px;
  }
  .modal .flexarea h4{
    font-size: 13px;
  }
  .modal .flexarea p,
  .profile-form label{
    font-size: 10px;
  }
  .modal .flexarea{
    margin-bottom: 11px;
  }
  .modal p{
    font-size: 11px;
  }
  .modal .toparea{
    padding-bottom: 7px;
  }
  .modal .header span{
    font-size: 10px;
  }
  .profile-form input, .profile-form .MuiSelect-select, .profile-form .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
    height: 32px !important;
    font-size: 9px;
  }
  .profileform-submit {
    padding: 9px 50px;
    font-size: 10px;
  }
  .profile-form svg{
    width: 14px;
  }
  header .modal{
    height: 420px;
    overflow: auto;
  }
}






